@charset "UTF-8";
/* All Icons are from htmlarrow.com */
.hta-left-white-arrow::before {
  content: "⇦";
}

.hta-right-white-arrow::before {
  content: "⇨";
}

.clear {
  clear: both;
}

html, p, nav, section, article {
  font-weight: 300;
  font-family: "open sans", sans-serif;
}

/* Content */
.content {
  border-top: 1px solid #E54028;
}

/* Post */
.post-date {
  font-family: "open sans", sans-serif;
  color: #7F1000;
}

.post-list {
  line-height: 1.2rem;
  margin-bottom: 4rem;
}
.post-list .post-header h1.post-title {
  font-size: 1.2rem;
  line-height: 0.8;
}
.post-list .post-header h1.post-title a:hover {
  text-decoration: underline;
  border-radius: 1px;
  color: #AEAEAE;
}
.post-list .post-header h3.post-subtitle {
  font-size: 1.2rem;
}
.post-list p.post-meta {
  margin-top: 0.5rem;
}
.post-list .post-summary {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  line-height: 1.3rem;
}
.post-list .post-date {
  font-size: 0.6rem;
  font-weight: 300;
}
.post-list .post-date .post-date-day {
  font-size: 0.7rem;
  margin-right: 0px;
}
.post-list .post-date .post-date-day .post-date-month {
  font-size: 0.7rem;
}
.post-list .post-tags .fa-purple {
  color: #800080;
}
.post-list .post-tags .fa-tags {
  font-size: small;
}
.post-list .post-tags .post-tag {
  clear: left;
  margin: 0px;
  padding: 0px;
  color: #333333;
  border-bottom: 1px solid #800080;
  font-size: 0.7rem;
  border-radius: 1px;
}

.read-more-link {
  margin-top: 1rem;
  float: none;
}

.post .post-header h1.post-title {
  font-size: 1.8rem;
  line-height: 1.1;
}
.post p code {
  padding: 0 3px;
  background: #EAEDED;
  color: #E54028;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.post code {
  font-size: 0.9em;
}
.post p img {
  width: 100%;
}

.draft-marker {
  color: #800080;
}

/* Metas */
.post-tags .fa-tags {
  font-size: small;
}
.post-tags .post-tag {
  clear: left;
  margin: 0 0.1rem;
  padding: 0 0.2rem;
  color: #333333;
  border-bottom: 1px solid #800080;
  font-size: 0.95rem;
  border-radius: 2px;
}
.post-tags a.post-tag {
  text-decoration: none;
}
.post-tags a.post-tag:hover {
  color: #E54028;
  text-decoration: none;
}

.post-categories .post-category {
  background: #800080;
  border-radius: 3px;
}

.series {
  font-size: 1rem;
}
.series ul {
  margin: 0;
}
.series ul li {
  list-style: circle;
}
.series ul li a, .series ul li a:hover {
  color: #E54028;
  text-decoration: none;
}
.series ul li a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  border-top: 1px solid #800080;
  background-color: white;
}
.sidebar a.title {
  text-decoration: none;
}
.sidebar a {
  color: #333333;
}
.sidebar h1.brand-title {
  font-size: 2rem;
}
.sidebar h2.brand-tagline {
  font-size: 1rem;
}
.sidebar h1.brand-title, .sidebar h2.brand-tagline {
  color: #333333;
}
.sidebar .social-buttons a {
  margin-left: 5px;
}

/* Pagination */
.pagination {
  border-top: 1px solid #AEAEAE;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}
.pagination a {
  color: #333333;
  text-decoration: none;
}
.pagination a:hover {
  color: #E54028;
  text-decoration: none;
}
.pagination .newer {
  position: absolute;
  right: 1rem;
}

/* Page Pagination */
.paging {
  margin: 1rem 0;
}
.paging .paging-newer, .paging .paging-older {
  font-size: 1.2rem;
}
.paging .paging-newer {
  text-align: right;
  right: 1rem;
}
.paging a {
  color: #333333;
  text-decoration: none;
}
.paging a:hover {
  color: #E54028;
  text-decoration: none;
}

.taxonomy h2 .term {
  text-decoration: none;
  color: #333333;
  background: #EAEDED;
  padding: 0 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.taxonomy .term-count {
  background: #800080;
  color: white;
  margin-left: 1rem;
  padding: 5px 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

/* TOC */
#TableOfContents ul {
  padding: 0 0 0 0.8rem;
  margin: 0.2rem;
}

.section #list {
  list-style: none;
  display: block;
  margin: 0 0.5rem;
  padding: 0;
}
.section #list li {
  display: table;
  width: 100%;
}
.section #list li .meta {
  display: table-cell;
  text-align: right;
  width: 25%;
}
.section #list li a {
  display: table-cell;
  text-decoration: none;
  padding: 0 0.5rem;
}
.section #list li a:hover {
  text-decoration: none;
  background: #EAEDED;
  border-radius: 3px;
}

.footer p {
  margin: 0 auto;
  width: 90%;
}
.footer p a {
  color: #3498db;
}

section.aboutme {
  margin: 2rem 0 0 0;
  padding: 5px 1rem;
  background: #EAEDED;
}
section.aboutme img {
  float: right;
  margin: 1.5rem 0.5rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
section.aboutme h1, section.aboutme h2, section.aboutme h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
}
section.aboutme p {
  line-height: 1.3rem;
  letter-spacing: 0.04rem;
}
section.aboutme p a, section.aboutme p a:hover {
  font-weight: bold;
}

.wrapper404 {
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
}
.wrapper404 h1, .wrapper404 h2 {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
}
.wrapper404 .header404 {
  color: #800080;
}
.wrapper404 .err-code {
  font-size: 4rem;
  margin: 1rem 0;
  color: #E54028;
}

/* Responsive */
@media (min-width: 48rem) {
  .wrapper {
    margin-left: 5%;
    width: 75%;
    letter-spacing: 0.7px;
  }

  section.post {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .sidebar {
    width: 30%;
  }
  .sidebar .aboutme {
    margin: 10rem 2rem 0;
  }

  .pagination .newer {
    right: 15rem;
  }

  .paging .paging-newer {
    display: inline-block;
  }
  .paging .paging-newer, .paging .paging-older {
    width: 50% !important;
    margin: 2rem 0;
  }
  .paging .paging-older {
    display: inline-block;
    float: left;
  }
}
@media (max-width: 767px) {
  /* Sidebar */
  .sidebar {
    border-top: 0px;
  }
  .sidebar .header h2.brand-tagline {
    margin: 0 5px;
  }

  /* Content */
  .content {
    border-top: 0px;
  }

  /* Post */
  .post .post-header h1.post-title {
    font-size: 1.2rem;
  }

  /* Atuthor */
  .aboutme img {
    display: none;
  }

  /* Pagination */
  .paging .paging-newer, .paging .paging-older {
    margin-bottom: 0.5rem;
  }

  /* 404 */
  .wrapper404 .robot404 {
    width: 128px;
  }
  .wrapper404 h1 {
    font-size: 1.5rem;
  }
  .wrapper404 h2 {
    font-size: 1.3rem;
  }
}

/*# sourceMappingURL=custom.css.map */
